
h1{
    text-align: center;
    border-bottom: dashed;
    border-color: red;
    padding: 20px;
    
}
main{
    height: 480px;
    width: 800px;
    background-color:orange;
    max-height: 100%
    max-width:100%;
    border: dashed;
    border-color:firebrick;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
        
nav{
    display:inline-flex;
    justify-content: center;
  
    
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
   
   
 
a{
    text-decoration: none;
    padding: 10px;
    border: dashed 2px;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 1,5 em;
    color:white;
    
}
header{
    text-align: center;
    max-height: 100%;
        max-width:100%;
}
*{
    box-sizing: border-box;
}