main {
    width: 800px;
/*    background-color: grey;*/
    /*    text-align: center;*/
    margin: 0 auto;
    padding: 20px;
    border-style:dashed;
    box-sizing: border-box;
    max-width: 100%;
    
/*    min-width: 500px;*/
}

p {
    font-size: 1.2em;
/*    padding: 30px;*/
}

img {
    width: 100px;
    float: left;
    margin:10px;
}

#sec1 {
    padding: 20px;
}

#sec2 {
    padding: 20px;
    text-align: right;
}

#sec2 img {
    float:right;
    
}

nav {
    text-align: center;
    text-decoration: none;
    
}

nav li {
    list-style-type: none;
    
    display: inline-block;
    padding: 30px;
    font-size: 24px;
}

h1 {
    text-align: center;
    padding: 20px;
}

h2 {
    
    border-bottom: 1px solid black;
}

hr {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
}